body {
	background: linear-gradient(0deg, rgba(82,253,255,1) 0%, rgba(207,255,126,1) 100%);
	font-family: Arial, Helvetica, sans-serif;
}

.title{
	text-align: center;
}

.container {
	display: flex;
	flex-direction: row-reverse;
	height: auto;
	font-weight: bold;
	margin: 5% auto;
	background-color: white;
}

.item-form {
	position: relative;
	height: auto;
	width: 50%;
}

.airbnb-container {
	position: relative;
	width: 80%;

}

.airbnb-pic {
	width: 100%; /*this uses the width of all the available space of the container */
}

textarea {
	width: 50%;
	height: auto;
}

#btn-submit{
	margin-bottom: 20px;
	margin-top: 20px;
	display: flex;
	margin-left: auto ;
	margin-right: auto;
}

.section-title{
	font-size: x-large;
	text-align: center;
}

.question-area{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}





