/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */


body{
  font-size: 28px;
  background-image: url('../images/backgr.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Style the tab */
.tab {
  /* overflow: hidden;
  border: 1px solid black;
  background-color: #C5AE62; */
    height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ad9850d8;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  /* background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: inherit; */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  background-color: transparent;
  display: block;
  transition: 0.3s;
  border: none;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:#ad9850d8 ;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #a38e47;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #C5AE628F;
}

.dieteryOptions{
  display: flex;
  flex-direction: row;
}

.dietList{
  margin: 20px;
}

footer {
  /* position: static;
  bottom: 0px;
  margin-bottom: auto; */
  flex-shrink: 0;

}

.tabcontent h3 {
  text-align: center;
}

select {
  font-size: 20px;
}

#addCart {
  font-size: 20px;
}

#shopName {
  text-align: center;
}

#lineUp{
  margin-left: 20px;
  margin-bottom: 0px;
}


.tab .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.itemCard{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: auto;
  margin: 10px;
  border-radius: 10px;
}

.itemCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.itemCard img {
  border: 0.5px solid black;
  border-radius: 10px;
}

#displayProduct{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#displayCart{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.cool-button, .cool-button:link, .cool-button:visited {
  padding: 13px 0;
  border: 1px solid #333;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
  transition: all .2s ease-in-out;
  border-radius: 10px;
}

.cool-button:hover {
  background: #333;
  border: 1px solid #333;
  color: #fefefe;
  border-radius: 30px;
}

#Covid {
  justify-content: center;
  text-align: center;
}

#letter {
  width: 70%;
  margin: 0 auto;
}

#signature{
  text-align: left;
}

#Delivery form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  margin: 0 auto;
}
#Delivery form input{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid gray; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 4px; 
  margin-bottom: 16px; 
  resize: vertical 
}

#Delivery button{
  width: 50%;
  margin: 0 auto;
}

