
.te{
    border: 2px solid black;
}

.top-label{
    background-image: url("../images/physio_image.png");
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
 
}

#main{
    margin: 20px;
}

.row-section{
    margin-bottom:40px;
}